.header{
   
height: 80px;

background-color: #1C2B35;
display: flex;
justify-content: space-between;
padding-left: 100px;
padding-right: 100px;
align-items: center;
}
.header img{
width: 140px;
height: 40px;
flex-shrink: 0;
}
.header a{
    margin: 10px;
    color: white;

}
.header a:hover{
    color: orange;
}